@model VendorManagementSystem.ProjectViewModel.FinalmodelToDisplayData
@{
    ViewBag.Title = "VendorList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 5px;
            text-align: left;
        }

        #tblid {
            margin-top: 0px;
        }

        #bdyid {
            margin-top: 10px;
        }

        #abc {
        }

        #lstid {
            margin-left: 105px;
            color: white;
            background-color: darkslategray;
            margin-top: 50px;
        }
        h2{
            color:maroon;
            margin-left:400px;
        }
        #addid {
            margin-left: 750px;
            color: white;
            background-color: darkslategray;
            margin-top: 50px;
        }
          #ddd{
            margin-left:800px;
        }
    </style>
</head>
<body id="bdyid">

    <ol class="breadcrumb">
        <li>@Html.ActionLink("AdminHome", "AdminPortal", "SuperAdmin", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li class="active">VendorList</li>
    </ol>

    <table id="ddd">
        <tr>
            <td>
                @using (Html.BeginForm("Export", "VendorAccess", FormMethod.Post))
                {
                    <input type="hidden" name="GridHtml" />
                    <input type="submit" id="btnSubmit" value="ExportPDF" />
                }
            </td>
            <td>
                @using (Html.BeginForm("ExportToWord", "VendorAccess", FormMethod.Post))
                {
                    <input type="hidden" name="GridHtml" />
                    <input type="submit" id="btnWSubmit" value="ExportWord" />
                }
            </td>
            <td>
                @using (Html.BeginForm("ExportExcel", "VendorAccess", FormMethod.Post))
                {
                    <input type="hidden" name="GridHtml" />
                    <input type="submit" id="btnESubmit" value="ExportExcel" />
                }
            </td>
        </tr>
    </table>
        <div class="WordSection1">
            <div id="Grid">
                <table id="tblid" style="width:100%">
                    <caption><h2>List Of Vendors</h2></caption>
                    @foreach (var item in Model.vmode)
                    {
                        <tr>
                            <th>
                                @Html.DisplayNameFor(modelItem => item.VendorId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(modelItem => item.VendorName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(modelItem => item.SellingCategory)
                            </th>

                        </tr>
                        break;
                    }
                    @foreach (var item in Model.vmode)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.VendorId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.VendorName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SellingCategory)
                            </td>
                            <td>
                                @Html.ActionLink("Details", "IndivisualvendorDetail", new { vid = item.VendorId })
                            </td>
                        </tr>
                    }
                </table>

                <table id="tblid" style="width:100%">
                    <caption><h2>Comapany wise vendor</h2></caption>
                    @foreach (var item in Model.vbusss)
                    {
                        <tr>
                            <th>
                                <label>Company Name</label>
                            </th>
                        </tr>
                        break;
                    }
                    @foreach (var item in Model.vbusss)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.BusinessName)
                            </td>
                            <td>
                                @Html.ActionLink("Details", "IndivisualvendorDetail", new { vid = item.VendorId })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
</body>

</html>



<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
        $(function () {
            $("#btnSubmit").click(function () {
                $("input[name='GridHtml']").val($("#Grid").html());
            });
        });
</script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
        $(function () {
            $("#btnWSubmit").click(function () {
                $("input[name='GridHtml']").val($("#Grid").html());
            });
        });
</script>


@*//Exporting Excel File*@

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
        $(function () {
            $("#btnESubmit").click(function () {
                $("input[name='GridHtml']").val($("#Grid").html());
            });
        });
</script>



@*Exporting Doc File*@

@*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
        window.export.onclick = function () {

            if (!window.Blob) {
                alert('Your legacy browser does not support this action.');
                return;
            }

            var html, link, blob, url, css;

            // EU A4 use: size: 841.95pt 595.35pt;
            // US Letter use: size:11.0in 8.5in;

            css = (
              '<style>' +
              'page WordSection1{size: 841.95pt 595.35pt;mso-page-orientation: landscape;}' +
              'div.WordSection1 {page: WordSection1;}' +
              'table{border-collapse:collapse;}td{border:1px gray solid;width:5em;padding:2px;}' +
              '</style>'
            );

            html = window.docx.innerHTML;
            blob = new Blob(['\ufeff', css + html], {
                type: 'application/msword'
            });
            url = URL.createObjectURL(blob);
            link = document.createElement('A');
            link.href = url;
            // Set default file name.
            // Word will append file extension - do not add an extension here.
            link.download = 'VendorList';
            document.body.appendChild(link);
            if (navigator.msSaveOrOpenBlob) navigator.msSaveOrOpenBlob(blob, 'Document.doc'); // IE10-11
            else link.click();  // other browsers
            document.body.removeChild(link);
        };
</script>*@


